USE [master]
GO
/****** Object:  Database [XML_PROJECT]    Script Date: 02/15/2016 20:07:58 ******/
CREATE DATABASE [XML_PROJECT] ON  PRIMARY 
( NAME = N'XML_PROJECT', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL10_50.DATHT\MSSQL\DATA\XML_PROJECT.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'XML_PROJECT_log', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL10_50.DATHT\MSSQL\DATA\XML_PROJECT_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [XML_PROJECT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [XML_PROJECT]
GO
/****** Object:  Table [dbo].[TblCategory]    Script Date: 02/15/2016 20:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Tbl_Category] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblCategory] ON
INSERT [dbo].[TblCategory] ([id], [name]) VALUES (1, N'GIÀY NAM')
INSERT [dbo].[TblCategory] ([id], [name]) VALUES (2, N'GIÀY NỮ')
SET IDENTITY_INSERT [dbo].[TblCategory] OFF
/****** Object:  Table [dbo].[TblAccount]    Script Date: 02/15/2016 20:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblAccount](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](32) NOT NULL,
	[fullname] [nvarchar](250) NOT NULL,
	[email] [nvarchar](250) NOT NULL,
	[address] [nvarchar](250) NOT NULL,
	[phone] [nchar](11) NULL,
	[role] [int] NOT NULL,
 CONSTRAINT [PK_Tbl_Account] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblOrder]    Script Date: 02/15/2016 20:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOrder](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderTime] [datetime] NOT NULL,
	[total] [float] NOT NULL,
	[status] [int] NOT NULL,
	[cusId] [nvarchar](50) NULL,
	[cusName] [nvarchar](250) NULL,
	[cusEmail] [nvarchar](250) NULL,
	[cusPhone] [nchar](11) NULL,
	[cusAddress] [nvarchar](250) NULL,
	[note] [nvarchar](max) NULL,
 CONSTRAINT [PK_TblOrder] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblOrder] ON
INSERT [dbo].[TblOrder] ([id], [orderTime], [total], [status], [cusId], [cusName], [cusEmail], [cusPhone], [cusAddress], [note]) VALUES (8, CAST(0x0000A5AA00000000 AS DateTime), 370000, 1, NULL, N'dat', N'dat@huynh.com', N'01147852963', N'hcm', NULL)
INSERT [dbo].[TblOrder] ([id], [orderTime], [total], [status], [cusId], [cusName], [cusEmail], [cusPhone], [cusAddress], [note]) VALUES (9, CAST(0x0000A5AA00000000 AS DateTime), 719000, 1, NULL, N'dat', N'konoha@dat.com', N'1478529630 ', N'quang trung', N'abc')
INSERT [dbo].[TblOrder] ([id], [orderTime], [total], [status], [cusId], [cusName], [cusEmail], [cusPhone], [cusAddress], [note]) VALUES (10, CAST(0x0000A5AB00000000 AS DateTime), 508000, 1, NULL, N'thanhdat', N'dat@thanh.com', N'0123456789 ', N'quang trung', NULL)
SET IDENTITY_INSERT [dbo].[TblOrder] OFF
/****** Object:  Table [dbo].[TblSubCategory]    Script Date: 02/15/2016 20:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblSubCategory](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[categoryId] [int] NULL,
 CONSTRAINT [PK_Tbl_SubCategory] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblSubCategory] ON
INSERT [dbo].[TblSubCategory] ([id], [name], [categoryId]) VALUES (36, N'GIAY THE THAO NU', 2)
INSERT [dbo].[TblSubCategory] ([id], [name], [categoryId]) VALUES (37, N'GIAY SLIP ON NỮ  & BOOT', 2)
INSERT [dbo].[TblSubCategory] ([id], [name], [categoryId]) VALUES (38, N'GIÀY THỂ THAO NAM', 1)
SET IDENTITY_INSERT [dbo].[TblSubCategory] OFF
/****** Object:  Table [dbo].[TblShoe]    Script Date: 02/15/2016 20:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblShoe](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NOT NULL,
	[price] [float] NOT NULL,
	[thumbPath] [nvarchar](max) NULL,
	[description] [nvarchar](max) NULL,
	[imagesPath] [nvarchar](max) NULL,
	[guarantee] [nvarchar](1000) NULL,
	[material] [nvarchar](1000) NULL,
	[color] [nvarchar](1000) NULL,
	[status] [int] NOT NULL,
	[shoeCode] [nchar](22) NOT NULL,
	[subCategoryId] [int] NOT NULL,
	[boughtNum] [int] NOT NULL,
 CONSTRAINT [PK_TblShoe] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblShoe] ON
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
SET IDENTITY_INSERT [dbo].[TblShoe] OFF
/****** Object:  Table [dbo].[TblOrderDetail]    Script Date: 02/15/2016 20:07:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblOrderDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[orderId] [int] NOT NULL,
	[shoeId] [int] NOT NULL,
	[size] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NOT NULL,
 CONSTRAINT [PK_TblOrderDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TblOrderDetail] ON
INSERT [dbo].[TblOrderDetail] ([id], [orderId], [shoeId], [size], [quantity], [price]) VALUES (1, 8, 257, 42, 1, 370000)
INSERT [dbo].[TblOrderDetail] ([id], [orderId], [shoeId], [size], [quantity], [price]) VALUES (2, 9, 13, 41, 1, 213000)
INSERT [dbo].[TblOrderDetail] ([id], [orderId], [shoeId], [size], [quantity], [price]) VALUES (3, 9, 13, 39, 1, 213000)
SET IDENTITY_INSERT [dbo].[TblOrderDetail] OFF
/****** Object:  Default [DF_TblShoe_boughtNum]    Script Date: 02/15/2016 20:07:58 ******/
ALTER TABLE [dbo].[TblShoe] ADD  CONSTRAINT [DF_TblShoe_boughtNum]  DEFAULT ((0)) FOR [boughtNum]
GO
/****** Object:  ForeignKey [FK_TblOrder_TblAccount]    Script Date: 02/15/2016 20:07:58 ******/
ALTER TABLE [dbo].[TblOrder]  WITH CHECK ADD  CONSTRAINT [FK_TblOrder_TblAccount] FOREIGN KEY([cusId])
REFERENCES [dbo].[TblAccount] ([username])
GO
ALTER TABLE [dbo].[TblOrder] CHECK CONSTRAINT [FK_TblOrder_TblAccount]
GO
/****** Object:  ForeignKey [FK_TblSubCategory_TblCategory]    Script Date: 02/15/2016 20:07:58 ******/
ALTER TABLE [dbo].[TblSubCategory]  WITH CHECK ADD  CONSTRAINT [FK_TblSubCategory_TblCategory] FOREIGN KEY([categoryId])
REFERENCES [dbo].[TblCategory] ([id])
GO
ALTER TABLE [dbo].[TblSubCategory] CHECK CONSTRAINT [FK_TblSubCategory_TblCategory]
GO
/****** Object:  ForeignKey [FK_TblShoe_TblSubCategory]    Script Date: 02/15/2016 20:07:58 ******/
ALTER TABLE [dbo].[TblShoe]  WITH CHECK ADD  CONSTRAINT [FK_TblShoe_TblSubCategory] FOREIGN KEY([subCategoryId])
REFERENCES [dbo].[TblSubCategory] ([id])
GO
ALTER TABLE [dbo].[TblShoe] CHECK CONSTRAINT [FK_TblShoe_TblSubCategory]
GO
/****** Object:  ForeignKey [FK_TblOrderDetail_TblOrder]    Script Date: 02/15/2016 20:07:58 ******/
ALTER TABLE [dbo].[TblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_TblOrderDetail_TblOrder] FOREIGN KEY([orderId])
REFERENCES [dbo].[TblOrder] ([id])
GO
ALTER TABLE [dbo].[TblOrderDetail] CHECK CONSTRAINT [FK_TblOrderDetail_TblOrder]
GO
/****** Object:  ForeignKey [FK_TblOrderDetail_TblShoe]    Script Date: 02/15/2016 20:07:58 ******/
ALTER TABLE [dbo].[TblOrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_TblOrderDetail_TblShoe] FOREIGN KEY([shoeId])
REFERENCES [dbo].[TblShoe] ([id])
GO
ALTER TABLE [dbo].[TblOrderDetail] CHECK CONSTRAINT [FK_TblOrderDetail_TblShoe]
GO
